.flake8
.DS_Store
.vscode

# ignore all files in the data directory except for Python files
data/*
!data/*.py
!data/*.sh
# ignore all files in the exercises directory except for Python and jayvee files
exercises/*
!exercises/*.py
!exercises/*.jv
# ignore data files from exploration notebook
*.geojson
*.json
*.db

.pytest_cache